* {
    font-family: monospace, sans-serif;
}

body {
    overflow: hidden;
}
/* layout */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}

#gameScreen {
    display: flex;
    gap: 20px;
    height: auto;
}

#player, #computer {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}
